footer{
    flex-shrink: 0;

    width: 100%;

    background-color: var(--bcg-secondary);
}

footer > div.footer-container{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    column-gap: 3rem;

    padding: 1rem 2rem;

}




/* FOOTER INFO */ /* FOOTER INFO */ /* FOOTER INFO */

footer > div.footer-container > article.footer-contact-info-container{
    font-style: italic;
    
    flex-shrink: 0;
    
    width: 40rem;
    max-width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    row-gap: 1rem;
}


article.footer-contact-info-container > h3{
    font-size: 3rem;

    font-style: normal;
}

article.footer-contact-info-container > p{
    width: 100%;
}






article.footer-contact-info-container > address.contact-info-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    width: 100%;

    row-gap: 1rem;
}


address.contact-info-container > div.contact-socials-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

div.contact-socials-container > *{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    column-gap: 1rem;
}



address.contact-info-container > nav.footer-social-links-container{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    column-gap: 1rem;
}





footer div.footer-contact-svg-container{
    width: 3rem;
    aspect-ratio: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}


/* FOOTER INFO */ /* FOOTER INFO */ /* FOOTER INFO */




/* FOOTER IMG */ /* FOOTER IMG */ /* FOOTER IMG */

footer > div.footer-container > div.footer-img-container{
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 35rem;
    max-width: 100%;

    box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, 0.6);

    border-radius: .6rem;

    overflow: hidden;
}

footer > div.footer-container > div.footer-img-container img{
    width: 100%;
    height: 100%;

    object-fit: cover;
}


/* FOOTER IMG */ /* FOOTER IMG */ /* FOOTER IMG */


@media (width <= 56.25rem) {
    footer{
        text-align: center;
    }

    footer > div.footer-container{
        flex-direction: column;
        row-gap: 2rem;


    }

    footer > div.footer-container > article.footer-contact-info-container{
        align-items: center;
    }


    address.contact-info-container{
        justify-content: center;
        align-items: center !important;
    }



    div.contact-socials-container > *{
        justify-content: center;
    }



    
    address.contact-info-container > nav.footer-social-links-container{
        justify-content: center;
    }

}