footer{
    flex-shrink: 0;

    width: 100%;
}



footer div.footer-contact-svg-container{
    width: 4rem;
    aspect-ratio: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}