header{
    flex-shrink: 0;

    background-color: var(--bcg-secondary);


    width: 100%;

    padding: var(--body-padding);
    padding-top: 2rem;
    padding-bottom: 2rem;
    /* height: max-content; */
}

header > div.header-content-container{
    position: relative;

    z-index: 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr; */
    /* place-items: center; */


    width: 100%;
    max-width: 100%;
    /* height: max-content; */

    margin: 0 auto;
    /* overflow-x: auto; */
}

header > div.header-content-container > *{
    /* grid-area: 1 / 1 / 1 / 1; */

    
}



/* HEADER IMG */ /* HEADER IMG */ /* HEADER IMG */

header > div.header-content-container > div.header-img-container{
    /* grid-column: 1; */
    /* margin-left: 1rem; */

    /* position: absolute; */
    position: relative;
    left: .2rem;

    box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, 0.6);

    width: 40rem;
    max-width: 100%;
    
    

    margin-left: auto;

    /* overflow: hidden; */

    /* z-index: 1; */
}


header > div.header-content-container > div.header-img-container img{
    width: 100%;
    height: 100%;

    /* float: right; */

    object-fit: cover;
}

/* HEADER IMG */ /* HEADER IMG */ /* HEADER IMG */


/* HEADER DESC */ /* HEADER DESC */ /* HEADER DESC */

header > div.header-content-container > article.about-me-container{
    grid-column: 2;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    row-gap: 1rem;

    text-align: start;

    width: 42rem;
    max-width: 100% !important;

    height: fit-content;

    margin: auto 0;
    margin-right: auto;

    padding: 1rem;
    padding-right: 5rem;
    padding-left: 2.5rem;

    /* border-radius: .5rem; */
    /* border: .1rem rgb(61, 61, 61) solid; */

    box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, 0.6);

    color: black;
    background-color: white;
    /* height: max-content; */
}

article.about-me-container > h2{
    width: 100%;

    

    font-size: 2.5rem;
}

header > div.header-content-container > article.about-me-container nav{
    display: flex;
    column-gap: 2rem;

}

@media (width <= 56.25rem) {
    header > div.header-content-container{
        /* place-items: center; */
        gap: 0;

        grid-template-columns: minmax(0, 1fr);
        grid-template-rows: 1fr
                            1fr;


    }

    header > div.header-content-container > div.header-img-container{
        left: 0;
        top: .5rem;

        margin: 0 auto;

        box-shadow: unset;

        max-width: 100% !important;
    }


    header > div.header-content-container > article.about-me-container{
        grid-column: 1;
        
        margin: 0 auto;

        z-index: 2;

    }
}



/* HEADER DESC */ /* HEADER DESC */ /* HEADER DESC */